<div class="basket-container">
    <div class="global-overlay-popup"></div>
    <div class="basket-box">
        <div class="basket-head">
            <div class="basket-head-title"><small>Tu orden en</small>
                <p class="basket-head-rappi">Rappi</p>
                <!---->
                <p class="hidden-mobile ng-star-inserted">Dirección de envío <span></span></p>
            </div>
            <div>
                <div class="close-basket"><i class="iconf-cancel hidden-mobile"></i><span>Cerrar</span></div>
            </div>
        </div>
        <div class="basket-body">
            <!---->
            <div class="cont-products-basket">
                <ul>
                    <!---->
                    <div class="cont-orders-header ng-star-inserted"><i class="iconf-info"></i>Se crearán <span>2
                            pedidos</span></div>
                    <!---->
                    <li class="ng-star-inserted">
                        <!---->
                        <div class="cont-product-header ng-star-inserted">
                            <div class="store-basket-header">
                                <!---->
                                <div class="cont-img ng-star-inserted"><img
                                        src="https://images.rappi.com/marketplace/express-1552681862.png?d=100x100&amp;e=webp"
                                        alt="Carulla Express"></div>
                                <div class="cont-info">
                                    <p><b>Carulla Express</b><strong>$&nbsp;57.338</strong></p>
                                </div>
                            </div>
                            <app-higher-purchases>
                                <!---->
                                <!---->
                            </app-higher-purchases>
                            <div class="store-basket-products">
                                <!---->
                                <div class="ng-star-inserted">
                                    <app-product-basket>
                                        <div class="item-basket hover-calculator">
                                            <div class="cont-img">
                                                <div class="width-img"><img
                                                        src="https://images.rappi.com/products/124528-1519770204.png?d=200x200&amp;e=webp">
                                                </div>
                                            </div>
                                            <div class="product-basket-stores">
                                                <div class="align-content">
                                                    <!---->
                                                    <div class="cont-info-item ng-star-inserted"><strong>Vino Blanco
                                                            Sauvignon Concha Y Toro Casillero Del Diablo</strong>
                                                        <p class="description-product"></p><span
                                                            class="topping-product"></span>
                                                        <!----><span class="delete">Eliminar</span>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <div class="cont-calculator ng-star-inserted">
                                                        <app-counter-product>
                                                            <div class="calculator"><button class="subtract"
                                                                    type="button">
                                                                    <div>
                                                                        <!---->
                                                                        <!----><span class="ng-star-inserted"><i
                                                                                class="iconf-delete"></i></span></div>
                                                                </button>
                                                                <div>1</div><button class="plus" type="button">
                                                                    <div>+</div>
                                                                </button>
                                                            </div>
                                                        </app-counter-product>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price-item"><span>$&nbsp;26.625</span></div>
                                        </div>
                                    </app-product-basket>
                                </div>
                                <div class="ng-star-inserted">
                                    <app-product-basket>
                                        <div class="item-basket hover-calculator">
                                            <div class="cont-img">
                                                <div class="width-img"><img
                                                        src="https://images.rappi.com/products/756851-1-1476205937.png?d=200x200&amp;e=webp">
                                                </div>
                                            </div>
                                            <div class="product-basket-stores">
                                                <div class="align-content">
                                                    <!---->
                                                    <div class="cont-info-item ng-star-inserted"><strong>Vino
                                                            Frontera</strong>
                                                        <p class="description-product"></p><span
                                                            class="topping-product"></span>
                                                        <!----><span class="delete">Eliminar</span>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <div class="cont-calculator ng-star-inserted">
                                                        <app-counter-product>
                                                            <div class="calculator"><button class="subtract"
                                                                    type="button">
                                                                    <div>
                                                                        <!---->
                                                                        <!----><span class="ng-star-inserted"><i
                                                                                class="iconf-delete"></i></span></div>
                                                                </button>
                                                                <div>1</div><button class="plus" type="button">
                                                                    <div>+</div>
                                                                </button>
                                                            </div>
                                                        </app-counter-product>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price-item"><span>$&nbsp;30.713</span></div>
                                        </div>
                                    </app-product-basket>
                                </div>
                            </div>
                        </div>
                        <div class="border-space"></div>
                    </li>
                    <li class="ng-star-inserted">
                        <!---->
                        <div class="cont-product-header ng-star-inserted">
                            <div class="store-basket-header">
                                <!---->
                                <div class="cont-img ng-star-inserted"><img
                                        src="https://images.rappi.com/marketplace/gastronomyMarket.png?d=100x100&amp;e=webp"
                                        alt="Gastronomy Market"></div>
                                <div class="cont-info">
                                    <p><b>Gastronomy Market</b><strong>$&nbsp;1.750</strong></p>
                                </div>
                            </div>
                            <app-higher-purchases>
                                <!---->
                                <!---->
                            </app-higher-purchases>
                            <div class="store-basket-products">
                                <!---->
                                <div class="ng-star-inserted">
                                    <app-product-basket>
                                        <div class="item-basket hover-calculator">
                                            <div class="cont-img">
                                                <div class="width-img"><img
                                                        src="https://images.rappi.com/products/130004430-1521764704.png?d=200x200&amp;e=webp">
                                                </div>
                                            </div>
                                            <div class="product-basket-stores">
                                                <div class="align-content">
                                                    <!---->
                                                    <div class="cont-info-item ng-star-inserted"><strong>Rosquitas
                                                            Quinoaclub Natural 15G</strong>
                                                        <p class="description-product"></p><span
                                                            class="topping-product"></span>
                                                        <!----><span class="delete">Eliminar</span>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <div class="cont-calculator ng-star-inserted">
                                                        <app-counter-product>
                                                            <div class="calculator"><button class="subtract"
                                                                    type="button">
                                                                    <div>
                                                                        <!---->
                                                                        <!----><span class="ng-star-inserted"><i
                                                                                class="iconf-delete"></i></span></div>
                                                                </button>
                                                                <div>1</div><button class="plus" type="button">
                                                                    <div>+</div>
                                                                </button>
                                                            </div>
                                                        </app-counter-product>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price-item"><span>$&nbsp;1.750</span></div>
                                        </div>
                                    </app-product-basket>
                                </div>
                            </div>
                        </div>
                        <div class="border-space"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="basket-footer">
            <div class="border-space"></div>
            <div class="cont-footer-header">
                <div class="cont-total">
                    <ul>
                        <li class="total">
                            <p class="item-description">Subtotal:</p>
                            <p class="price-description">$&nbsp;59.088</p>
                        </li>
                    </ul>
                </div>
                <div class="btn-go-checkout"><button type="button">Continuar</button></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/basket.js"></script>