<div class="header-login">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href=""><img alt="Rappi Logo" title="Rappi"
                    src="https://images.rappi.com/web/logo-rappi-new.svg?e=webp"></a>
        </nav>
    </div>