<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form registro</title>
    <link rel="icon" href="https://images.rappi.com/web/rappi_favicon.png">
    <% include ../partials/head-boostrap%>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/loginClient.css">
</head>

<body class="page">
<% include ../partials/header-simple%>
    <div class="form-adress">
        <div class="card" style="max-width: 600px; min-width:320px;">
            <h2 class="text-center" style="font-size: 20px;">información adicional</h2>
            <h3 class="text-center" style="font-size: 16px;"><%= user.displayName%> </h3>
            <form action="post" method="post">
                <div class="card adress">
                    <div class="form-group">
                        <label for="personal_id">Número de Cedula:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="/img/26287.svg" alt="imagen de telefono"
                                        style="width: 10px; height:10px;"></span>
                            </div>
                            <input type="text" class="form-control" name="personal_id"
                                placeholder="Ingresa tu número de cedula">
                        </div>
                    </div>
                </div>
                <div class="card adress">
                    <div class="form-group">
                        <label for="phone_number">Número de telefono:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="/img/15663.png" alt="imagen de telefono"
                                        style="width: 10px; height:10px;"></span>
                            </div>
                            <input type="text" class="form-control" name="phone_number"
                                placeholder="Ingresa tu número de telefono">
                        </div>
                    </div>
                </div>
                <button class="btn" type="submit">Enviar</button>
            </form>
        </div>
    </div>

</body>
