<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ../partials/head-boostrap%>
        <title>Rappi</title>
        <link rel="icon" href="https://images.rappi.com/web/rappi_favicon.png">
    </head>
    <body>
    <div class="header-login">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href=""><img alt="Rappi Logo" title="Rappi"
                    src="https://images.rappi.com/web/logo-rappi-new.svg?e=webp"></a>
                <a href="/soyrappi" class="btn btn-outline-danger my-3 my-sm-0">Quiero ser Rappi</a>
          <a href="/login" class="btn btn-outline-danger my-2 my-sm-0">Iniciar Sesión</a>
        </nav>
    </div>
    </body>
</html>