<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Soy Rappi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/soyrappi.webp">
  <% include ../partials/head-boostrap %>
  <link rel="stylesheet" href="/css/loginClient.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="page">
  <div class="page__container">
    <% include ../partials/header-simple%>
    <div class="Home">
      <div class="page__signup signup" style="padding-bottom: 20px;">
        <div class="title  title--theme-alt">
          <h1 class="title__heading">Gana <span class="title__accent">dinero </span>entregando pedidos.</h1>
          <p class="title__subheading">¡Regístrate ahora!</p>
        </div>
        <form class="signup__form">
          <div class="signup__field field">
            <div class="login-division">
              <p class="text-center">Ingresar con</p>
            </div>
            <p>
              <a href="/soyrappi/auth/google" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i><img
                  src="img/google_PNG19635.png" style="width: 30px; height: 30px;"> Login via Google</a>
              <a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i><img
                  src="img/5a35528ea43144.6338074215134439826725.png" style="width: 30px; height: 30px;"> Login via facebook</a>
            </p>
            <div class="login-division"></div>
          </div>
          <br>
          <p class="note-des" style="text-align: center; font-size: 9px;">
            Procediendo,
            <a class="link" href="#">
              acepto que Rappi o sus representantes
            </a>
            podrían contactarme por correo electrónico, teléfono o mensaje de
            texto o la dirección de correo o número telefónico que proveo,
            incluyendo propósitos comerciales.
            <a class="link" href="http://wordpress.rappi.com.br/rt-terms-conditions/" target="_blank">
              Terminos y condiciones
            </a>
          </p>
        </form>
      </div>

      <section class="section section--slideshow">
        <div class="section__container">
          <h1 class="section__heading"> <span class="section__index">01 </span><span
              class="section__caption">Ventajas</span></h1>
          <div>
            <div class="slides" data-toggle="carousel">
              <ul class="slides__items" data-slides="carousel">
                <li class="slides__item slides__item--theme-purple" style="display: block; opacity: 1;">
                  <h2 class="slides__headline"><span class="slides__caption">Actívate </span><span
                      class="slides__accent">cuando quieras. </span></h2>
                  <p>Conéctate cuando quieras. Gana dinero y continúa disfrutando de tu familia y amigos. Reparte tu
                    tiempo con tus estudios, trabajo o cualquier otra actividad que realices.</p>
                </li>
                <li class="slides__item slides__item--theme-yellow">
                  <h2 class="slides__headline"><span class="slides__caption">Recibe </span><span
                      class="slides__accent">buenos ingresos. </span></h2>
                  <p>Gana dinero con cada entrega que hagas, no tienes límite de ganancias. Obtén los ingresos que
                    necesitas para cumplir todas tus metas.</p>
                </li>
                <li class="slides__item slides__item--theme-blue">
                  <h2 class="slides__headline"><span class="slides__caption">Pasión </span><span
                      class="slides__accent">orgullo y voluntad. </span></h2>
                  <p>Nada nos detiene y tenemos amor por lo que hacemos. Somos parte importante de la sociedad, entre
                    todos estamos construyendo una mejor Latinoamérica</p>
                </li>
              </ul>
              <div class="slides__control" data-buttons="carousel"><button
                  class="slides__btn is-selected"></button><button class="slides__btn"></button><button
                  class="slides__btn"></button></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>