<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/head-boostrap%>
  <title>Rappi 24/7</title>
  <link rel="icon" href="https://images.rappi.com/web/rappi_favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/index-page.css">
  <link rel="stylesheet" type="text/css" href="/css/shopping_car.css">
  <link rel="stylesheet" type="text/css" href="/css/products-basket.css">
  <link rel="stylesheet" type="text/css" href="/css/products.css">
  <link rel="stylesheet" type="text/css" href="/css/carousel-stores.css">
  <link rel="stylesheet" type="text/css" href="/css/stores.css">
</head>

<body>
  <div class="header-login">
    <nav class="navbar navbar-light bg-bg-2">
      <a class="navbar-brand" href=""><img alt="Rappi Logo" title="Rappi"
          src="https://images.rappi.com/web/logo-rappi-new.svg?e=webp"></a>
      <%
    try{
    if(user){%>
      <a class="btn">
        <span><%= user.first_name%> </span>
        <img src='<%= user.photo%>' alt="" style="width:20px; height: 20px; border-radius: 10px;">
      </a>
      <%}else{%>
      
      <%}
}catch(e){
}%>
      
      <hr>
    </nav>
  </div>
  <button type="button" href="login/auth/google" class="btn btn-primary btn-lg">Recibir orden</button>
</body>

</html>